@import "ornament/01reset.scss";
@import "ornament/02vars.scss";
@import "ornament/03fonts.scss";
@import "ornament/04typography.scss";
@import "ornament/05grid.scss";
@import "ornament/06elements.scss";
@import "ornament/07hamburger.scss";

body {
    font-family: "sf ui display";
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: normal;
    color: $black;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

main {
    margin: 0 auto;
    max-width: 192rem;
    overflow: hidden;
}

.wrapper {
    margin: 0 auto;
    max-width: 144rem;
    padding: 0 16.5rem;

    @media (max-width: 1200px) {
        padding: 0 5rem;
    }

    @media (max-width: 992px) {
        padding: 0 calc(1rem + (5 - 1) * ((100vw - 20rem) / (99.2 - 20)));
    }
}

section:not(:first-of-type) {
    padding: 6.4rem 0;
}

/* Blocks */
@import "blocks/header.scss";
@import "blocks/01intro.scss";
@import "blocks/02slider.scss";
// @import "blocks/03guaranties.scss";
// @import "blocks/04feedbacks.scss";
// @import "blocks/05order.scss";
// @import "blocks/06partners.scss";
// @import "blocks/footer.scss";