.accomplishments {

    &__title {
        margin-bottom: 53px;
    }

    &__cards {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        grid-gap: 30px;
    }

    &__card {
        padding: 40px 40px 49px;

        border-radius: 6px;

        background-repeat: no-repeat;
        background-size: 193px;
        background-position: right 10px top 20px;
        background-color: $dimmedColor;

        &:nth-of-type(1) {
            background-image: url(../images/02accomplishments/card0.svg);
        }

        &:nth-of-type(2) {
            background-image: url(../images/02accomplishments/card1.svg);
        }

        &:nth-of-type(3) {
            background-image: url(../images/02accomplishments/card2.svg);
        }

        &:nth-of-type(4) {
            background-image: url(../images/02accomplishments/card3.svg);
        }
    }

    &__cardTitle {
        max-width: 300px;
    }

    &__cardParagraph {
        max-width: 290px;
        margin-top: 22px;
        margin-right: 10px;
    }

    @media screen and (max-width: $desktopWidth) {
        &__cardImage {
            align-self: center;
            width: 125px;
        }
    }

    @media screen and (max-width: $smDesktopWidth) {
        &__title {
            margin-bottom: 35px;
        }

        &__cards {
            grid-template: repeat(4, 1fr) / 1fr;
            grid-gap: 20px;
        }

        &__card {
            padding: 30px 40px 40px;

            background-size: 130px;
            background-position: right 30px top 15px;
        }

        &__cardTitle {
            max-width: unset;
        }

        &__cardParagraph {
            max-width: 600px;
            margin-top: 15px;
        }
    }

    @media screen and (max-width: $tableWidth) {
        &__title {
            max-width: 490px;

            span {
                display: none;
            }
        }

        &__cardParagraph {
            max-width: 420px;
        }
    }

    @media screen and (max-width: $smTableWidth) {
        &__cards {
            grid-template-rows: repeat(4, auto);
        }

        &__card {
            padding: 30px 20px 35px;

            background-size: 80px;
            background-position: right 10px center;
        }

        &__cardParagraph {
            max-width: 350px;
            margin-top: 10px;
        }
    }

    @media screen and (max-width: $phoneWidth) {
        .accomplishments__card {
            background-image: none;
        }
    }
}