.accomplishments {

    &__title {
        margin-bottom: 50px;
    }

    &__cards {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }

    &__card {
        background-color: $dimmedColor;
        border-radius: 6px;

        padding: 21px 10px 21px 40px;

        display: grid;
        grid-template: repeat(2, auto) / repeat(2, auto);
    }

    &__cardTitle {
        margin-top: 20px;
    }

    &__cardParagraph {
        margin-top: 20px;
    }

    &__cardImage {
        grid-area: 1 / 2 / -1 / -1;
        width: 193px;
    }
}