.accomplishments {

    &__title {
        margin-bottom: 53px;
    }

    &__cards {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        grid-gap: 30px;
    }

    &__card {
        padding: 40px 40px 49px;

        border-radius: 6px;

        background-repeat: no-repeat;
        background-size: 193px;
        background-position: right 10px top 20px;
        background-color: $dimmedColor;

        &:nth-of-type(1) {
            background-image: url(../images/02accomplishments/card0.svg);
        }

        &:nth-of-type(2) {
            background-image: url(../images/02accomplishments/card1.svg);
        }

        &:nth-of-type(3) {
            background-image: url(../images/02accomplishments/card2.svg);
        }

        &:nth-of-type(4) {
            background-image: url(../images/02accomplishments/card3.svg);
        }
    }

    &__cardTitle {
        max-width: 300px;
    }

    &__cardParagraph {
        max-width: 290px;
        margin-top: 22px;
        margin-right: 10px;
    }

    @media screen and (max-width: $desktopWidth) {


        &__cardImage {
            align-self: center;
            width: 125px;
        }
    }

    @media screen and (max-width: $smDesktopWidth) {
        &__title {
            margin-bottom: 35px;
        }

        &__cards {
            grid-template: repeat(4, 1fr) / 1fr;
            grid-gap: 20px;
        }

        &__card {
            padding: 30px 40px 40px;

            background-size: 130px;
            background-position: right 30px top 15px;
        }

        &__cardTitle {
            max-width: unset;
        }

        &__cardParagraph {
            max-width: 600px;
            margin-top: 15px;
        }
    }

    @media screen and (max-width: $tableWidth) {
        &__title {
            margin: 0 auto 35px;
            max-width: 500px;

            span {
                display: none;
            }
        }

        &__card {
            padding: 15px 10px 15px 30px;
        }

        &__cardImage {
            width: 140px;
        }
    }

    @media screen and (max-width: $smTableWidth) {
        &__cardTitle {
            max-width: unset;
            margin-top: unset;
            align-self: center;
        }

        &__cardImage {
            grid-area: 1 / 2 / 2 / -1;
            width: 100px;
        }

        &__cardParagraph {
            grid-area: 2 / 1 / -1 / -1;
            max-width: unset;
        }
    }

    @media screen and (max-width: $phoneWidth) {
        &__card {
            padding: 15px 10px 15px 20px;
        }

        &__cardTitle {
            grid-area: 1 / 1 / 2 / -1;
        }

        &__cardImage {
            grid-area: 1 / 2 / -1 / -1;
            opacity: 0.2;
            width: auto;
            height: 140px;
        }
    }
}