// Font
$mainFont: 'Segoi UI',
sans-serif;
$mainFontSize : 16px;
$mainFontWeight : 400;
$mainLineHeight : 1.42;

// breakpoints
$desktopWidth : 1280px;
$smDesktopWidth : 1024px;
$tableWidth : 768px;
$smTableWidth : 640px;
$phoneWidth : 480px;
$smPhoneWidth : 320px;

//Colours:
$defaultColor : #FFFFFF; //white text
$blackColor : #2E2D35; // black text
$accentColor : #F25B24; // tangerines)
$dimmedColor : #F6F5F9; // faded bg
$gradientDark : #2D1686;
$gradientLight : #4E33B5;