@font-face {
    font-family: 'Whitney';
    font-weight: normal;
    font-style: normal;

    //--------------------------------------------------------------------- Whitney Book
    src: url('../fonts/whitney/Whitney-Book.eot');
    src: local('Whitney Book Regular'), local('Whitney-Book'),
        url('../fonts/whitney/Whitney-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/whitney/Whitney-Book.woff') format('woff'),
        url('../fonts/whitney/Whitney-Book.ttf') format('truetype');
}

@font-face {
    font-family: 'Whitney';
    font-weight: 500;
    font-style: normal;
    //--------------------------------------------------------------------- Whitney medium
    src: url('../fonts/whitney/Whitney-Medium.eot');
    src: local('Whitney Medium Regular'), local('Whitney-Medium'),
        url('../fonts/whitney/Whitney-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/whitney/Whitney-Medium.woff') format('woff'),
        url('../fonts/whitney/Whitney-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Whitney';
    font-weight: 600;
    font-style: normal;
    //--------------------------------------------------------------------- Whitney semi-bold
    src: url('../fonts/whitney/Whitney-Semibold.eot');
    src: local('Whitney Semibold Regular'), local('Whitney-Semibold'),
        url('../fonts/whitney/Whitney-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/whitney/Whitney-Semibold.woff') format('woff'),
        url('../fonts/whitney/Whitney-Semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Segoe UI';
    font-weight: normal;
    font-style: normal;
    //--------------------------------------------------------------------- Segoe UI regular
    src: url('../fonts/segoi_ui/SegoeUI.eot');
    src: local('Segoe UI'), local('SegoeUI'),
        url('../fonts/segoi_ui/SegoeUI.eot?#iefix') format('embedded-opentype'),
        url('../fonts/segoi_ui/SegoeUI.woff') format('woff'),
        url('../fonts/segoi_ui/SegoeUI.ttf') format('truetype');
}

@font-face {
    font-family: 'Segoe UI';
    font-weight: 600;
    font-style: normal;
    //--------------------------------------------------------------------- Segoe UI semi-bold
    src: url('../fonts/segoi_ui/SegoeUI-SemiBold.eot');
    src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'),
        url('../fonts/segoi_ui/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/segoi_ui/SegoeUI-SemiBold.woff') format('woff'),
        url('../fonts/segoi_ui/SegoeUI-SemiBold.ttf') format('truetype');
}


@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot?azdnsc');
    src: url('../fonts/icomoon/icomoon.eot?azdnsc#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf?azdnsc') format('truetype'),
        url('../fonts/icomoon/icomoon.woff?azdnsc') format('woff'),
        url('../fonts/icomoon/icomoon.svg?azdnsc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
    font-family: 'icomoon' !important;
    //--------------------------------------------------------------------- ICO_MOON
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-account:before {
    content: "\e900";
    color: #fff;
}

.icon-logo .path1:before {
    content: "\e901";
    color: rgb(255, 255, 255);
}

.icon-logo .path2:before {
    content: "\e902";
    margin-left: -4.59375em;
    color: rgb(242, 91, 36);
}

.icon-close:before {
    content: "\e903";
    color: #918d9a;
}