html {
    line-height: $mainLineHeight;
    font-size: $mainFontSize;
    color: $blackColor;
}

body {
    margin: 0;
    padding: 0;
    font-family: $mainFont;
    font-size: $mainFontSize;
    font-weight: $mainFontWeight;
    background-color: $defaultColor;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // @media screen and (max-width: $desktopWidth) {
    //     font-size: 14px;
    // }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    display: block;
    width: 100%;
}

main {
    max-width: 1920px;
    margin: 0 auto;

    overflow: hidden;
    position: relative;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.container,
.containerFluid {
    padding: 0 15px;

    @media screen and (max-width: $tableWidth) {
        padding: 0 5px;
    }
}


section {
    margin: 133px 0;

    @media screen and (max-width: $desktopWidth) {
        // margin: 140px 0;
    }
}

a,
button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    font-family: 'Whitney', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: $defaultColor;

    background-color: transparent;
    cursor: pointer;

    transition: color 0.05s ease-in;


    &:focus,
    &:active,
    &:hover {
        color: $accentColor;

        &::before {
            color: $accentColor;
        }
    }
}

.button-solid {
    width: 222px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $accentColor;

    border: 1px solid $accentColor;
    border-radius: 4px;

    font-family: 'Whitney', sans-serif;
    font-size: 18px;
    color: $defaultColor;
    font-weight: 600;
    transition: background-color 0.05s ease-in;

    &:active,
    &:hover,
    &:focus {
        background-color: transparent;
    }
}