html {
    line-height: $mainLineHeight;
    font-size: $mainFontSize;
    color: $defaultColor;
}

body {
    margin: 0;
    padding: 0;
    font-family: $mainFont;
    font-size: $mainFontSize;
    font-weight: $mainFontWeight;
    background-color: $defaultColor;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // @media screen and (max-width: $desktopWidth) {
    //     font-size: 14px;
    // }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    display: block;
    width: 100%;
}

main {
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;

    background: linear-gradient(to right, $gradientDark, $gradientLight);
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.container,
.containerFluid {
    padding: 0 15px;

    @media screen and (max-width: $tableWidth) {
        padding: 0 5px;
    }
}


section {
    margin: 160px 0;

    @media screen and (max-width: $desktopWidth) {
        margin: 140px 0;
    }
}

a {
    text-decoration: none;
}