
<meta charset="utf-8">
<title>Test_Evgeniy_Kluev</title>
<link rel="shortcut icon" href="favicon.png">

<!-- CSS ================================================== -->
<link rel="stylesheet" href="assets/css/style.min.css">

<!-- meta tags ================================================== -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="robots" content="index, follow">
<meta name="google" content="notranslate">
<meta property="og:locale" content="ru_RU">


<meta name="Author" content="Byteofmonkey">
<meta name="Copyright" content="Byteofmonkey">


<!-- Отключает формирование ссылки у номера телефона на iOS -->
<meta name="format-detection" content="telephone=no">

<meta name="description" content="Что такое мета теги и для чего они нужны">
<meta name="keywords" content="мета теги, meta, мета теги для seo">

<!-- mobile specific ================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

<meta property="og:type" content="article">
<!-- заголовок страницы, который будет выводится в записи социальной сети -->
<meta property="og:title" content="META теги">
<!-- описание страницы -->
<meta property="og:description" content="Описание страницы про META теги">
<!-- ссылка на изображение, которое будет публиковаться в записи -->
<meta property="og:image" content="http://fls.guru/meta/img/bg.jpg">
<!-- ссылка на текущую страницу -->
<meta property="og:url" content="http://fls.guru/meta/ ">
<!-- название сайта -->
<meta property="og:site_name" content="Фрилансер по жизни">

<!-- Тип карты, по умолчанию используется summary -->
<meta name="twitter:card" content="summary">
<!-- Имя/логин автора -->
<meta name="twitter:site" content="Жека">
<!-- Название страницы -->
<meta name="twitter:title" content="META теги">
<!-- Описание страницы -->
<meta name="twitter:description" content="про META теги">
<!-- Cсылка на изображение -->
<meta name="twitter:image" content="http://fls.guru/meta/img/bg.jpg">