<div class="modal">
  <div class="modal__wrapper">

    <button class="modal__close icon-close"></button>

    <h2 class="modal__header">Aвторизация</h2>

    <form action="#" method='POST' name='cabinet'>
      <label>
        E-mail
        <input type="email" name='mail' required placeholder="Введите e-mail">
      </label>
      <label>
        Пароль
        <input type="password" name='password' required placeholder="Введите пароль">
      </label>

      <button class="modal__submit button-solid">Войти</button>
    </form>

  </div>
</div>