<div class="modalCabinet" data-modal>
  <div class="modalCabinet__wrapper">

    <button class="modalCabinet__close icon-close" data-close></button>

    <h2 class="modalCabinet__header">Aвторизация</h2>

    <form action="#" method='POST' name='cabinet'>
      <label>
        E-mail
        <input type="email" name='mail' required placeholder="Введите e-mail">
      </label>
      <label>
        Пароль
        <input type="password" name='password' required placeholder="Введите пароль">
      </label>

      <button class="modalCabinet__submit button-solid">Войти</button>
    </form>

  </div>
</div>