.modalCabinet {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    align-items: center;
    justify-content: center;

    display: none;
    background: rgba(28, 24, 47, 0.1);

    &.open {
        display: flex;
        animation: showCabinet 0.2s linear forwards 0.5s;

        @keyframes showCabinet {
            to {
                background: rgba(28, 24, 47, 0.5);
            }
        }

        perspective: 1300px;

        .modalCabinet__wrapper {
            /* Effect: 3D slit */
            transform-style: preserve-3d;
            transform: translateZ(-3000px) rotateY(90deg);
            opacity: 0;

            animation: slit .7s forwards ease-out;

            @keyframes slit {
                50% {
                    transform: translateZ(-250px) rotateY(89deg);
                    opacity: 1;
                    animation-timing-function: ease-in;
                }

                100% {
                    transform: translateZ(0) rotateY(0deg);
                    opacity: 1;
                }
            }
        }
    }

    &__wrapper {
        width: 100%;
        max-width: 490px;
        padding: 65px 60px 55px;

        border-radius: 6px;
        background: $defaultColor;
        position: relative;

        display: flex;
        flex-direction: column;
    }

    &__close {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 42px;
        height: 42px;
        font-size: 40px;
    }

    &__header {
        text-align: center;
    }

    label {
        display: block;

        font-family: 'Whitney', sans-serif;
        font-size: 18px;
        font-weight: 500;

        &:first-of-type {
            margin-top: 30px;
        }

        &:nth-of-type(2) {
            margin-top: 15px;
        }
    }

    input {
        width: 100%;
        margin-top: 6px;
        padding: 17px 16px 17px 12px;

        background: $defaultColor;
        border: 1px solid #DDDAE7;
        border-radius: 4px;
    }

    &__submit {
        margin-top: 34px;
        width: 100%;
    }

    @media screen and (max-width: $tableWidth) {
        &__wrapper {
            padding: 65px 40px 55px;
        }
    }

    @media screen and (max-width: $phoneWidth) {
        &__wrapper {
            padding: 25px 20px 25px;
        }

        label {
            display: block;

            &:first-of-type {
                margin-top: 10px;
            }

            &:nth-of-type(2) {
                margin-top: 10px;
            }
        }

        &__submit {
            margin-top: 10px;
        }
    }

    @media screen and (orientation: landscape) and (max-width: $smDesktopWidth) {
        &__wrapper {
            height: 100vh;
            max-height: 350px;
            padding: 2% 20px 2%;
            border-radius: 0;
            align-content: center;
        }

        &__header {
            flex-grow: 1;
            font-size: 28px;
        }

        label {
            display: block;

            &:first-of-type {
                margin-top: 10px;
            }

            &:nth-of-type(2) {
                margin-top: 10px;
            }
        }

        &__submit {
            margin-top: 4%;
        }
    }

    @media screen and (orientation: landscape) and (max-width: $tableWidth) {
        &__header {
            font-size: 20px;
        }

        input {
            margin-top: 3px;
            padding: 10px;
        }
    }
}